code {
  background: #efefef;
  border-radius: 4px;
  display: block;
  white-space: pre-wrap;  
}

.output {
  background: #fff;
  color: navy;
}

h3 {
  color: darkred;
}

.jumbotron {
    margin-bottom: 0;
    padding: 8px;
}
