code {
  background: #eee;
}

.code-example,
.code-output,
.terminal-cmd {
  border-radius: 8px;
  display: block;
  white-space: pre-wrap;
}

.code-output {
  color: navy;
}

.terminal-cmd {
  color: darkslateblue;
}

h3 {
  color: darkred;
}

.jumbotron {
    margin-bottom: 0;
    padding: 8px;
}
